@using CNPM.Models;
@model List<TbSinhVien>

<div class="page-wrapper">
	<div class="content container-fluid">
		<div class="page-header">
			<div class="row align-items-center">
				<div class="col">
					<div class="mt-5">
						<h4 class="card-title float-left mt-2">Danh sách sinh viên trong phòng</h4> 
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="card card-table">
					<div class="card-body booking_card">
						<div class="table-responsive">
							<table class="datatable table table-stripped table table-hover table-center mb-0">
								<thead>
									<tr>
										<th>STT</th>
										<th>Mã sinh viên</th>
										<th>Tên sinh viên</th>
										
									</tr>
								</thead>
								<tbody>
									@{
										int stt = 1;
									}
									@foreach (var sv in Model)
									{
										<tr>
											<td>@stt</td>
											<td>@sv.MaSinhVien</td>
											<td>@sv.TenSinhVien</td>
											
										</tr>
										stt++;
									}
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<a asp-controller="Phong" asp-action="Index" class="btn btn-lg btn-warning p-2">Quay lại</a>
			</div>
		</div>
	</div>
</div>