@using CNPM;
@model CNPM.Models.TbPhong;

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper">
	<div class="content container-fluid">
		<div class="page-header">
			<div class="row align-items-center">
				<div class="col">
					<h3 class="page-title mt-5">Sửa phòng</h3>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<form asp-action="Edit" method="post">
					<input type="hidden" asp-for="MaSoPhong" />
					<div class="row formtype">
						<div class="col-md-4">
							<div class="form-group">
								<label asp-for="MaSoPhong">Mã số phòng</label>
								<input type="text" class="form-control mb-3" asp-for="MaSoPhong" placeholder="_ _ _">
								<span asp-validation-for="MaSoPhong" class="alert-danger"></span>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label asp-for="DonGia">Giá phòng trên tháng</label>
								<input type="text" class="form-control mb-3" asp-for="DonGia" placeholder="">
								<span asp-validation-for="DonGia" class="alert-danger"></span>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label asp-for="SoNguoiMax">Tôi đa</label>
								<input type="text" class="form-control mb-3" asp-for="SoNguoiMax" placeholder="">
								<span asp-validation-for="SoNguoiMax" class="alert-danger"></span>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label asp-for="LoaiPhong">Loại phòng</label>
								<select class="form-control" asp-for="LoaiPhong">
									<option value="Cho nam">Cho nam</option>
									<option value="Cho nữ">Cho nữ</option>
								</select>
								<span asp-validation-for="LoaiPhong" class="alert-danger"></span>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label asp-for="TrangThai">Giới tính</label>
								<select class="form-control" asp-for="TrangThai">
									<option value="true">Đã đầy</option>
									<option value="false">Còn trống</option>
								</select>
								<span asp-validation-for="TrangThai" class="alert-danger"></span>
							</div>
						</div>


					</div>
					<button type="submit" class="btn btn-primary buttonedit">Lưu</button>
					<a asp-controller="NhanVien" asp-action="Index" class="btn btn-lg btn-warning p-2">Quay lại</a>
				</form>
			</div>
		</div>
	</div>
</div>